.content-modal-time {
    .title-time {
        font-size: 1.1rem;
        font-weight: 450;
        color: #2385fd;
    }

    .list-time {
        margin-bottom: 30px;
    }

    .form-label {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 5px;

        label {
            font-weight: 450;
            font-size: 0.8rem;
            color: #8a8a8a;
            margin-bottom: 5px;
        }
    }

    .btn-add-time {
        font-size: 0.8rem;
        background-color: #41cb8b;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
    }
}
