.customTable :global(.ant-table-thead > tr > th) {
    background-color: #0c2741 !important;
    color: white !important;
    padding: 10px !important;

    span {
        color: white !important;
    }
}

table tbody tr td {
    padding: 5px !important;
    font-size: 0.8rem;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
