.action {
    display: flex;
    gap: 10px;

    .view {
        color: blue;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 450;
        background-color: #ffffff;
        border: 2px solid rgb(71, 71, 255);
        border-radius: 3px;
    }
}

.back {
    border: none;
    cursor: pointer;
    top: 37px;
    position: absolute;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.wrapper {
    height: calc(100vh - 130px);
    overflow-y: auto;
}

.wrapper-btn {
    display: flex;
    justify-content: center;

    .btn-save {
        font-size: 0.8rem;
        background-color: #41cb8b;
        color: #ffffff;
    }

    .btn-cancel {
        font-size: 0.8rem;
        background-color: #ff5a5a;
        color: #ffffff;
    }

    .btn-save:hover,
    .btn-cancel:hover {
        color: #e2e2e2;
    }
}

.form {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    margin-bottom: 30px;

    .title-form {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 12px;
        color: #5780fa;
        padding-bottom: 8px;
        border-bottom: 1px solid #dadce0;
    }

    .title-form-2 {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 12px;
        color: #0233c5;
        padding-bottom: 8px;
        border-bottom: 1px solid #dadce0;
    }

    .input {
        padding: 5px 12px;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
        margin-top: 5px;
        background-color: #ffffff;
        font-size: 0.9rem;
        color: #000000;
    }

    label {
        font-weight: 450;
        font-size: 0.75rem;
        color: #8a8a8a;
        margin-right: 20px;
    }

    .form-label {
        margin-bottom: 15px;

        span {
            font-size: 0.9rem;
        }
    }

    .form-grid-1 {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr;
        gap: 100px;
    }

    .form-grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px;
    }

    .form-grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        margin-bottom: 20px;

        .form-label {
            display: flex;
            align-items: center;
        }
    }

    .form-grid-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

.wrapper-model {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-model-complete {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.wrapper-model-complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 6px 6px;

    .form {
        height: calc(100vh - 225px);
        overflow-y: auto;
        margin-bottom: 15px;
    }
}

.title-model {
    margin: 12px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
