.action {
    display: flex;
    gap: 10px;

    .view {
        color: blue;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 450;
        background-color: #ffffff;
        border: 2px solid rgb(71, 71, 255);
        border-radius: 3px;
    }
}

.back {
    border: none;
    cursor: pointer;
    top: 37px;
    position: absolute;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.wrapper {
    height: calc(100vh - 130px);
    overflow-y: auto;
}

.wrapper-btn {
    display: flex;
    justify-content: center;

    .btn {
        font-size: 0.8rem;
        background-color: #41cb8b;
        color: #ffffff;
    }

    .btn:hover {
        color: #e2e2e2;
    }
}

.form {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    margin-bottom: 30px;

    .form-1{
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .title-form {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 12px;
        color: #5780fa;
        padding-bottom: 8px;
        border-bottom: 1px solid #dadce0;
    }

    .input {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #e0e0e0;
        background-color: #ffffff;
        font-size: 1rem;
        color: #000000;
    }

    label {
        font-weight: 450;
        font-size: 0.75rem;
        color: #8a8a8a;
        margin-right: 20px;
    }

    .form-label {
        margin-bottom: 15px;
    }

    .medical-history {
        border: 1px solid #e0e0e0;
        height: 70px;
        border-radius: 10px;
        padding: 10px;
        overflow-y: auto;
        margin-bottom: 15px;
        font-size: 1.1rem;
    }

    .form-grid-1 {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr;
        gap: 100px;
    }

    .form-grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}
