.back-medical-service {
    border: none;
    cursor: pointer;
    top: 70px;
    position: absolute;
}

.edit-medical-service-text {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.wrapper-medical-content {
    height: calc(100vh - 130px);
    overflow-y: auto;
}

.modal-medical-content {
    max-height: 500px;
    overflow-y: auto;

    .modal-item {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .modal-item-icon {
        cursor: pointer;
        font-size: 20px;

        &:hover {
            color: #2385fd;
        }
    }
}

.modal-edit-title {
    font-size: 1.2rem;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.modal-edit {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .modal-edit-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    label {
        display: block;
        margin-bottom: 6px;
        font-size: 0.85rem;
        font-weight: 500;
        color: #5f6368;
    }

    .input {
        padding: 7px 14px;
        font-size: 14px;
    }
}

.wrapper-btn {
    display: flex;
    justify-content: center;

    .btn-save {
        font-size: 16px;
        color: #ffffff;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
